.env
.env.*
.git
.github
.vercel
.next
.next-dev.err.log
.next-dev.out.log
.next-dev.pid
.next-dev.port
coverage
dist
Dockerfile
node_modules
out
npm-debug.log
npm-debug.log*
pnpm-debug.log*
repomix-output.xml
uploads
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
*.log
